@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$blue: #007bff;
$red: rgb(250, 23, 53);

* {
    font-family: 'Comfortaa', cursive;
}


.nav{
    display: flex;
    justify-content: center;


    a{
        color: black;
        font-weight: 700;
        font-size: 1.5em;
        text-decoration: none;

    }

    .navIcon{
        display: flex;
        min-width: 25vw;
        min-height: 100px;
        background: linear-gradient(to bottom right, #fff 0%, #fff 49.5%, $blue  50%, $blue 100%);
        margin: 1vw;
    
        &:hover{
            background: linear-gradient(to top left, #fff 0%, #fff 49.5%, $blue  50%, $blue 100%);
        }
    }

}