@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap&effect=outline");

$mainColour: #3399ff;
$pink: #eb8dd6;
$lightPink: #ffb6c1;
$blue: #3399ff;

ul {
  list-style-type: none;
}
.app-wrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0px 20px;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
  width: 90vw;
}
h1 {
  font-size: 2em;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

* {
  font-family: "Comfortaa", cursive;
}

.zdog-canvas {
  width: 100px;
  height: 100px;
}

.icon {
  width: 100px;
  height: 100px;
  background: $pink;
  border: 2px $pink solid;
  border-radius: 50%;
  align-self: center;

  &:hover {
    background: none;
    border: 2px $pink dashed;
  }
}

.nav {
  display: flex;
  justify-content: center;

  a {
    color: black;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: none;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    margin: 3vw;
    width: 8vw;
    height: 5vh;
    padding: 15px;
    transition: width 1s;

    &:hover {
      background: $mainColour;
      border-radius: 2em;
      color: white;
    }

    &.router-link-active {
      width: 20vw;
      background: $mainColour;
      border-bottom: none;
      border-radius: 2em;
      color: white;
    }
  }
}

.mainContent {
  display: flex;
  justify-content: center;

  .title {
    text-align: center;
    margin-bottom: 50px;
  }

  a {
    color: $blue;
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.skills-enter-active,
.skills-leave-active {
  overflow: hidden;
  text-overflow: clip;
  transition: width 0.5s ease-in-out;
}

.contact-body {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  .contact-link {
    padding-bottom: 1px;
    border-bottom: 2px solid $blue;
  }

  .contact-info {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border: 2px $pink dashed;
    border-radius: 2em;
    margin-top: 10px;
  }

  .contact-photo-wrapper {
    display: flex;
    justify-content: center;

    .contact-photo {
      width: 70%;
    }
  }
}

.art-body {
  div {
    padding-bottom: 10px;
  }

  .art-intro {
      text-align: center;
  }

  .work {
    border-bottom: 2px dashed $lightPink;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .work-text {
    flex: 1 1 0px;
  }

  //   .work-image {
  //     max-width: 100%;
  //     flex: 1 1 0px;
  //     display: flex;
  //     justify-content: center;
  //   }

  .VueCarousel-slide {
    display: flex;
    justify-content: center;
  }

  .VueCarousel-dot, .VueCarousel-dot-container {
      margin-top: 0 !important;
  }

  img {
    max-width: 80vw;
    max-height: 50vh;
  }

  .work-title {
    font-weight: bold;
    text-align: left;
    font-size: 2em;
    margin: 20px 0px 20px 0px;
    background-color: $lightPink;
    padding: 15px;
    border-radius: 2em;
    color: white;
    // display:inline-block;
  }

  .medium {
    font-weight: bold;
  }

  .date {
    font-style: italic;
  }
}

.CV-body {
  display: flex;

  .title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
    background: $pink;
    color: white;
    width: 30px;
    height: 20px;
    text-align: start;
    padding: 10px 5px 0px 5px;
    border-radius: 2em;
  }

  .skills-list {
    display: none;
  }

  .skills-title {
    display: none;
  }

  .skills-button {
    display: none;
  }

  .cv-content {
    flex: 4;
    margin-left: 20px;
  }

  .cv-sidebar {
    // display: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    ul {
      padding: 0px;
    }
  }

  .job-text {
    margin-bottom: 20px;
    border-bottom: 2px dashed $pink;
    padding-bottom: 10px;

    .company {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 5px;
      color: $pink;
    }
    .role {
      font-size: 1.3em;
      font-style: italic;
    }
    .date {
      margin-bottom: 10px;
    }
  }
}

.footer {
  display: flex;
  background-color: $mainColour;
  width: 100vw;
  margin-top: 200px;
  height: 300px;

  .footer-text {
    padding: 40px;
    color: white;
    font-weight: bold;

    li {
      margin: 10px;
    }

    a {
      color: white;
    }
  }
}

@media only screen and (min-width: 961px) {
  .nav {
    a {
      font-size: 1.5em;
    }

    .nav-icon {
      display: flex;
      margin: 1vw;
      width: 10vw;
      height: 5vh;
      border-color: $mainColour;
      padding: 20px;
      border-radius: 2em;
      border-style: dashed;
      transition: width 1s;

      &:hover {
        border-style: solid;
        background: $mainColour;
        color: white;
      }

      &.router-link-active {
        width: 20vw;
        border-color: $mainColour;
        border-style: solid;
        background: $mainColour;
        color: white;
      }
    }
  }

  .app-wrapper {
    padding: 0px 60px;
  }

  .contact-body {
    flex-direction: row;

    .contact-info {
      font-size: 1.3em;
      padding: 20px;
      width: 50%;
      margin-top: 0px;
    }

    .contact-photo {
      width: 50%;
    }
  }

  //   .art-body {
  //     .work-image {
  //       max-width: 100%;
  //       flex: 1 1 0px;
  //       display: flex;
  //       justify-content: center;
  //     }
  //   }

  .CV-body {
    .skills-list {
      display: inline;
      border: 2px dashed $pink;
      padding: 10px;
      height: 400pt;
      margin-right: 5px;
    }

    .skills-title {
      display: inline;
      color: $pink;
      font-weight: bold;
      font-size: 1.3em;
    }

    .skills-button {
      display: inline;
      cursor: pointer;
      transform: rotate(-90deg);
      transition: 0.15s ease-in;

      &.skillsShow {
        transform: rotate(90deg);
      }
    }
  }
}
